body {
  background-size: cover;
  background-position: center center;
}

.formContainerReg {
  background-color: rgba(255, 255, 255, 1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.formContainerReg h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.formContainerReg .form-control {
  border-radius: 0;
}

.formContainerReg .btn {
  border-radius: 0;
}

@media (max-width: 767px) {
  .formContainerReg {
    padding: 20px;
  }
  .formContainerReg h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
