.main {
  text-align: center;
}

input {
  height: 50px;
  width: 250px;
  font-size: x-large;
  text-decoration-color: black;
}

header {
  background-color: aqua;
  background-size: cover;
  background-position: center center;
}
.react-datetime-picker {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.selected-date {
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #333;
}
h1 {
  color: blueviolet;
  text-align: center;
  justify-content: center;
}
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
