

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.cardImg {
  width: 100%;
  height: 550px;
  object-fit: cover;
  margin-top: 2px;
}

.cardBody {
  padding: 20px;
}

.cardTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.cardText {
  font-size: 18px;
  color: #666;
}

.heading {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 2%;
}

.datetime {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 24px;
  margin-bottom: 20px;
}

.feedback {
  font-size: 16px;
  color: #dc3545;
  margin-top: 10px;
}

.bookBtn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.bookBtn:hover {
  background-color: grey;
  color: #fff;
}

.cancelBtn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: black;
  transition: all 0.3s ease-in-out;
  border:black;
}

.cancelBtn:hover {
  background-color: grey;
  color: #fff;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.link {
  text-decoration: none;
}

.slotBooked {
  font-size: 24px;
  margin-top: 30px;
}

.formBookingSlot{
  width: 40%;
  padding: 2%;
  margin-inline: 30vw;
}