/* .NavbarContainer{
    margin-inline: 20%;
    font-size: 1.5rem;
   
}
.NavbarHeading{
    font-size: 1.5rem;
}
 */

.NavbarItems {
  display: flex;
  background-color: #fff;
  /* color: #222; */
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}

.navbar-logo {
  color: #222;
  font-size: 2.5rem;
  cursor: pointer;
  padding-top: 30px;
  font-family: Georgia;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 5px;
  list-style: none;
  align-items: center;
  padding: 17px 0 0 17px;
}

.nav-links {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  font-family: Georgia;
  /* display: inline-block;  */
}

.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  /* height: 100px;
    width: 150px; */
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-links-mobile {
  display: none;
}

button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: Georgia;
  background-color: #fff;
}

button:hover {
  /* height: 100px;
   width: 150px; */
  background-color: whitesmoke;
  color: #000;
}

.menu-icons {
  display: none;
}

.menu-icons i {
  font-size: 1.2rem;
  color: #222;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-radius: 13px;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .nav-links:hover {
    background: #01959a;
    transition: none;
    /* height: 50px;
      width: 100px; */
  }

  button {
    display: none;
  }

  button:hover {
    /* height: 100px;
      width: 150px; */
    background-color: #151516;
    color: #fff;
  }

  .menu-icons {
    display: block;
    cursor: pointer;
  }

  .menu-icons i {
    font-size: 1.2rem;
    color: #222;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background: #01959a;
    text-decoration: none;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
}
