.cardetails-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  
}

.cardetails-payment {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: #f5f5f5; 
}

.cardetails-head {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333333;
}

.cardetails-form {
  display: flex;
  flex-direction: column;
}

.cardetails-space {
  margin-bottom: 1.5rem;
}

.cardetails-label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333333;
}

.cardetails-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #333333;
  background-color: #ffffff;
  transition: all 0.3s;
}

.cardetails-input:focus {
  border-color: #8c44ff;
  outline: none;
  box-shadow: 0 0 5px rgba(140, 68, 255, 0.2);
}

.cardetails-icon-relative {
  position: relative;
}

.cardetails-icon-relative i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #8c44ff;
}

.cardetails-card-grp {
  display: flex;
  justify-content: space-between;
}

.cardetails-card-item {
  width: 48%;
}

.cardetails-btn {
  background-color: #090909;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  margin-top: 1rem;
}

.cardetails-btn:hover {
  background-color: #6a33cc;
}